
<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<!-- Slide One - Set the background image for this slide in the line below -->
		<div id="item-1" class="carousel-item active" style="background-image: url('https://i0.wp.com/larsruby.com/wp-content/uploads/2019/01/interview-as-revel-sofian-azel.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h1 id="mercadev" class="display-4">L'agence</h1>
				<!-- <p class="lead">Développez votre marché</p> -->
			</div>
		</div>
	</div>
</div>
</div>



<!-- Page card content -->
<center> <h3 class="news-title">Revel</h3>
	<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 30px;"></center>
	<div class="agency-text">
		<p>Deux âmes, un duo<br>
			Deux visions, un art<br>
		Deux émotions, un objectif</p>
		<p> 
			Définition : Nom épicène, du latin revelare : Dévoiler, mettre en lumière<br>
			Azel et Sofian : Duo Artistique Créateur/Réalisateur<br>
		Be REVEL : Être présent au sein d’une unité artistique ambitieuse et révélatrice.</p> 
		<p>
			REVEL est une alliance de deux artistes passionnés qui ambitionnent de révéler.<br>
		Deux entités dans une dynamique unique regroupant un savoir faire, une technique ainsi qu’une vision et une application de l’art polyvalente.</p>
		<p>
			Notre éthique de travail et nos principes nous mettent en relation continue avec une communauté authentique, aujourd’hui fidèle à nos valeurs.<br>
		Des équipes artistiques et professionnelles de talent avec lesquelles nous sommes en collaboration continu : Makeup Artist, Hair Stylist, Top Revel, Modèles, Acteurs... Mais également un support extérieur unique d’un public engagé, impliqué et intéressé par notre travail.</p>
		<p>
			REVEL n’est pas uniquement un nom, c’est une véritable façon d’être, unis vers la création. Faire parti de REVEL c’est être considéré et considérer les autres dans un élan d’échange, de défis et de réalisation.<br>
			REVEL c’est mettre en lumière des profils, des idées, des produits, des événements, des personnalités, des talents.<br>
			Révéler est un verbe, une action, REVEL est un état d’âme. Nous voulons dépasser certains standards, révéler des émotions, créer et réaliser des rêves à travers l’image, la vidéo et l’écriture.<br>
		Des objectifs communs ayant pour but de révéler chaque talent et relever chaque défis dans tout nos projets artistiques.</p>
		<p>
		« La beauté n’est que le réel qui se révèle par l’art, ce qui reste à découvrir reste encore à relever. »</p>
	</div>
