
<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<% photos_accueil = [
		'AFFICHE KANSEI REVEL.4.jpg',
		'_DSC0402.jpg',
		'_DSC0420 fb.jpg',
		'_DSC0518.jpg',
		'_DSC0706.jpg',
		'_DSC2722.jpg',
		'_DSC2788.jpg',
		'_DSC5134.jpg',
		'_DSC6705.jpg',
		'_DSC7299.jpg',
		'_DSC8017.jpg',
		'_DSC8449.jpg',
		'_DSC9058.jpg',
		'grid.jpg'
		] %>

		<!-- ordre aléatoire des photos -->
		<% photos_accueil = photos_accueil.sample(photos_accueil.size) %>

		<!-- <ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<% photos_accueil.each_index { |i| %>
			<li data-target="#carouselExampleIndicators" data-slide-to="<%= i+1 %>"></li>
			<% } %>
		</ol> -->
		<div class="carousel-inner" role="listbox">
			<% photos_accueil.each.with_index { |photo, i| %>
			<div class="carousel-item <%= i==0 ? 'active' : '' %>" style="background-image: url('<%= image_path("accueil/#{photo}") %>')">
				<div class="carousel-caption d-none d-md-block">
					<!-- <h1 id="mercadev" class="display-4">REVEL</h1> -->
					<!-- <p class="lead">Développez votre marché</p> -->
				</div>
			</div>
			<% } %>
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Précédent</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Suivant</span>
	</a>
</div>

<!-- Page card content -->
<center> <h3 class="news-title">Nos actualités</h3>
	<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;"></center>
	<!-- card 1 -->
	<div class="card-deck">
		<div class="card">
			<img class="card-img-top" src="https://i0.wp.com/larsruby.com/wp-content/uploads/2019/01/interview-as-revel-sofian-azel.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">REVEL ou la révélation</h5>
				<p class="card-text">Rencontre avec Azel et Sofian, le duo artistique plus connu sous le nom de AS.REVEL.<br>
				Et quand l’Amour, l’Art et l’Âme s’entremêlent intensément, cela donne naissance à une incroyable révélation…</p>
				<p class="card-text"><small class="text-muted">Ajouté il y'a 3 minutes</small></p>
			</div>
		</div>

		<!-- card 2 -->
		<div class="card">
			<img class="card-img-top" src="https://static.wixstatic.com/media/a03743_b572408ac15643bdb006e6e37f1877d8~mv2_d_3633_4000_s_4_2.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">KSENIA la révélation</h5>
				<p class="card-text">Révélée dans Faust magazine, Ksenia fut la plus jeune modèle REVEL à poser pour un aussi beau magazine !.</p>
				<p class="card-text"><small class="text-muted">Ajouté il y'a 3 minutes</small></p>
			</div>
		</div>

		<!-- card 3 -->
		<div class="card">
			<img class="card-img-top" src="<%= image_path 'keos.jpg' %>" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">à ne pas manquer</h5>
				<p class="card-text">N'hésitez pas à venir et rencontrer REVEL sur un événement 100% Mode organisé en partenariat avec KEOS.</p>
				<p class="card-text"><small class="text-muted">Ajouté il y'a 3 minutes</small></p>
			</div>
		</div> 
	</div>
