
<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<!-- Slide One - Set the background image for this slide in the line below -->
		<div id="item-1" class="carousel-item active" style="background-image: url('https://images.pexels.com/photos/72876/pexels-photo-72876.jpeg?w=1920')">
			<div class="carousel-caption d-none d-md-block">
				<h1 id="mercadev" class="display-4">Nos références</h1>
				<!-- <p class="lead">Développez votre marché</p> -->
			</div>
		</div>
	</div>
</div>
</div>



<!-- Page card content -->
<center> <h3 class="news-title">Revel</h3>
	<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 30px;"></center>
	<div class="agency-text">
		<p>Deux âmes, un duo<br>
			Deux visions, un art<br>
		Deux émotions, un objectif</p>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe width="560" height="315" src="http://www.youtube.com/embed/nkBdvNrdi2s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
