<!-- Footer -->

<div class="row mb-0" id="m-footer">

  <div class="col-sm card-b d-flex flex-column justify-content-center">
  		<h3>As revel</h3>			
   <p>The New Artistic Creator Duo A&S<br>
	Global Art and Photography<br>
	Work everywhere for Arts<</p>
</div>

 <div class="col-sm card-w d-flex flex-column justify-content-center">

  		<h3>Suivez-nous</h3>
  		<div class="row justify-content-center">			
<!-- Facebook -->
			<a class="fb-ic fa-2x" href="https://www.facebook.com/as.revel/">
				<i class="fab fa-facebook-f white-text"></i>
			</a>
<!-- Instagram -->
			<a class="fb-ic fa-2x" href="https://www.instagram.com/as.revel/">
				<i class="fab fa-instagram"></i>
			</a>
<!-- Youtube -->
			<a class="fb-ic fa-2x" href="https://www.youtube.com/channel/UCjBBZDQg9DKaTKUT3qarTgA">
				<i class="fab fa-youtube"></i>
			</a>
		</div>
</div>

 <div class="col-sm card-b d-flex flex-column justify-content-center">
 	
  		<h3>Contactez-nous</h3>		

  			<p> <i class="fas fa-envelope mr-3"> </i> <a href="mailto:contact@asrevel.com">contact@asrevel.com</p></a>
  			<p> <i class="fas fa-phone mr-3"></i><a href="tel:+33635201752">06 35 20 17 52</a></p>
			<p> <i class="fas fa-globe-europe mr-3"></i>France, United Kingdom, Germany, USA</p>
		</div>

 <div class="col-sm card-w d-flex flex-column justify-content-center">
 	
  		<h3>Rejoignez-nous</h3>		

<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="e-mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button">S'inscrire</button>
							</div>
						</div>
		</div>
</div>

<div class="footer-down row justify-content-center align-items-center py-5 mb-0">

<div class="btn-group droptop mx-5" id="legacy_btn">
  <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   À propos
  </button>
  <div class="dropdown-menu">
				<p>
					<a href="#">Mentions légales</a>
				</p>
				<p>
					<a href="#">Politique de confidentialité</a>
				</p>
  </div>
</div>

				<!-- Copyright -->
				<div class="footer-copyright mx-5">© 2019 Copyright:
					<a href="<%= root_path %>">by AS REVEL</a>
				</div>

				<div class="footer-copyright mx-5">Design by:
					<a href="https://www.mercadev.fr">Mercadev</a>
				</div>
